<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="normalize.css">
  </head>
  <nav>
    <ul>
      <img id="logo" src="https://news.ycombinator.com/y18.gif" alt="hacker logo">
      <li><a href="/">Slacker News</a></li>
      <li><a href="/">new</a></li>
      <li><a href="/">comments</a></li>
      <li><a href="/">show</a></li>
      <li><a href="/">ask</a></li>
      <li>jobs</li>
      <li><a href="/submit">submit</a></li>
    </ul>
  </nav>
  <body>

  <%= yield %>

  </body>
  </html>

