<form action="/submit" method="post">
  <label for="title_form">Title:</label>
  <input type="text" id="title_form" name="title_form"/>

  <label for="url_form">URL:</label>
  <input type="text" id="url_form" name="url_form"/>

  <label for="description_form">Description:</label>
  <input type="text" id="description_form" name="description_form"/>

  <input type="submit"/>
</form>
